<h1>Listing songs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Tags</th>
    <th>Category</th>
    <th>Forum link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @songs.each do |song| %>
  <tr>
    <td><%= song.title %></td>
    <td><%= song.artist_id %></td>
    <td><%= song.tags %></td>
    <td><%= song.category_id %></td>
    <td><%= song.forum_link %></td>
    <td><%= link_to 'Show', song %></td>
    <td><%= link_to 'Edit', edit_song_path(song) %></td>
    <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Song', new_song_path %>
