<h1>Listing arts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Category</th>
    <th>Tags</th>
    <th>Forum link</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @arts.each do |art| %>
  <tr>
    <td><%= art.title %></td>
    <td><%= art.artist_id %></td>
    <td><%= art.category_id %></td>
    <td><%= art.tags %></td>
    <td><%= art.forum_link %></td>
    <td><%= art.image %></td>
    <td><%= link_to 'Show', art %></td>
    <td><%= link_to 'Edit', edit_art_path(art) %></td>
    <td><%= link_to 'Destroy', art, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Art', new_art_path %>
