<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @art.title %>
</p>

<p>
  <b>Artist:</b>
  <%= @art.artist_id %>
</p>

<p>
  <b>Category:</b>
  <%= @art.category_id %>
</p>

<p>
  <b>Tags:</b>
  <%= @art.tags %>
</p>

<p>
  <b>Forum link:</b>
  <%= @art.forum_link %>
</p>

<p>
  <b>Image:</b>
  <%= @art.image %>
</p>


<%= link_to 'Edit', edit_art_path(@art) %> |
<%= link_to 'Back', arts_path %>
