<!DOCTYPE html>
<html>
<head>
  <title>Mobius Dan</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <nav>
    <ul>
      <li><%= link_to "Home", root_url, remote: true %></li>
      <li><%= link_to "Articles" %></li>
      <li><%= link_to "Arts" %></li>
      <li><%= link_to "Music" %></li>
      <li><%= link_to "Video" %></li>
      <li><%= link_to "Contributors" %></li>
    </ul>
  </nav>
  <img src="http://mobiusdan.com/wp-content/uploads/2010/09/logo1.jpg" alt="MobiusDan" id="topLogo">
  <%= yield %>
</div>
</body>
</html>
